<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<html lang="en">
<body>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F2D7D5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🌺</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="card text-center">
            <h5 class="card-header">Data transmission using ajax</h5>
            <div class="card-body">
                <h5 class="card-title">hello! 😀 </h5>
                <p class="card-text">
                    Enter the text you want to send and click the button.</p>
                <form class="card-text">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input id="input" placeholder="Please enter text" type="text" class="form-control">
                            <button class="btn btn-outline-secondary" type="button" onclick="dataSend()">submit</button>
                        </div>
                    </div>
                    <button id="pressMe">Press Me</button>
                    <button id="create">new</button>

                    <div id="resultDiv">
                        <p th:if="${msg}!=null" th:text="${msg}"></p>
                    </div>
                </form>
                <a href="#" class="btn" style="background-color: #EBDEF0">Go github</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#create").on("click", function () {
            $("div").html("<button id='newButton'>ok</button>");
        });
        $("body").on("click", "#newButton", function (event) {
            console.log("click");
        });
    });
    $(function () {
        $("#pressMe").one("click", function () {
            console.log("단 한번만 이벤트 실행");
        });
    });

    function dataSend() {
        console.log("567");
        var data = $("#input").val();
        console.log('000');
        var messageDTO = {
            result: data
        };
        $.ajax({
            url: "/dataSend",
            data: messageDTO,
            type: "POST",
        }).done(function (fragment) {
            $("#resultDiv").replaceWith(fragment);
        });
    }
</script>

<script type="text/javascript">
    console.log("123");

</script>
</body>
</html>